/backend/app/__pycache__
/backend/app/api/endpoints/__pycache__
/backend/app/core/__pycache__
/backend/app/crud/__pycache__
/backend/app/db/__pycache__
/backend/app/schemas/__pycache__
/backend/app/services/__pycache__
/${APPDATA}
/backend/.venv
*.db
/frontend/.next
/frontend/node_modules
/backend/chroma_db
